{% extends 'website/base.html' %}
{% load static %}

{% block content %}

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Blog</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- *****Blog Area Start ***** -->
  <section class="dento-blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
              <a href="{% url 'blog_details' %}">
                <img src="{% static 'website/img/bg-img/16.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="{% url 'blog_details' %}" class="post-title">How your mouth bacteria can harm your lungs</a>
              <p>In a healthy mouth, over 700 different bacteria exist in balance. Some of these are beneficial, and others can be harmful. When bacteria grow out of control, they can pose problems for teeth, gums, and the rest of the mouth. If you don't keep up with oral hygiene or leave cavities or gingivitis untreated, this bacteria can start to affect the rest of the body, including the lungs and heart.</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i>1 April 2021</a>
                <a href="#"><i class="icon_chat_alt"></i> 400+ Comments</a>
              </div>
            </div>
          </div>

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
              <a href="{% url 'blog_details' %}">
                <img src="{% static 'website/img/bg-img/17.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a target='_blank' href="https://www.verywellhealth.com/best-toothpastes-4684126" class="post-title">What is the best kind of toothpaste to use?</a>
              <p>In general terms, dentists recommend fluoride toothpaste for adults, as fluoride helps strengthen tooth enamel and prevent decay. For young children, who are prone to swallowing toothpaste, brushing haphazardly, and disliking strong, burning, mint flavors, there are specifically formulated children’s toothpastes. If you have sensitive teeth, you may require a toothpaste formulated to reduce sensitivity—though you should check with your dentist if you’re having sensitivity, as it might be a sign of a greater problem.</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i>29 March 2021</a>
                <a href="#"><i class="icon_chat_alt"></i> 150+ Comments</a>
              </div>
            </div>
          </div>

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
              <a href="{% url 'blog_details' %}">
                <img src="{% static 'website/img/bg-img/18.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a target='_blank' href="https://www.medicalnewstoday.com/articles/321043" class="post-title">Why you should avoid sipping your drinks</a>
              <p>However, our study has shown the impact of the way in which acidic food and drinks are consumed.” The American Dental Association recommend against holding or swishing acidic beverages in the mouth — advice that is backed up by this latest research.</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i>5 April 2021</a>
                <a href="#"><i class="icon_chat_alt"></i> 200+ Comments</a>
              </div>
            </div>
          </div>

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
              <a href="{% url 'blog_details' %}">
                <img src="{% static 'website/img/bg-img/19.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a target='_blank' href="https://www.northriverdental.com/how-long-does-mouth-stay-numb-after-dentist/" class="post-title">How long does numbness last after the dentist?</a>
              <p>There is no one-size-fits-all answer to this question, since different types of procedures require different amounts of anesthesia. In addition, other factors will come into play as to how long the numbing sensation will last such as your height, weight, and how fast your body metabolizes anesthesia.

                It also depends on where in your mouth you’ll need work done. This is because the bottom jaw is a large nerve block that is more susceptible to pain and that controls sensations to more areas of your face.</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 2 April 2021</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
              <a href="{% url 'blog_details' %}">
                <img src="{% static 'website/img/bg-img/20.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a  target='_blank' href="https://www.healthline.com/health/lie-bumps" class="post-title">Lie bumps (transient lingual papillitis): What to know</a>
              <p>Lie bumps will appear as red or white swollen bumps on the tongue. Some people think they look or feel like pimples. They can be painful, even when you aren’t eating or drinking. Some people experience burning, itching, or tingling sensations on their tongues. Still others have no symptoms or pain aside from the actual bump.
                </p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 31 March 2021</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>

          <!-- Pagination -->
          <nav class="dento-pagination mb-100">
            <ul class="pagination">
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              
            </ul>
          </nav>
        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

            <!-- Single Widget Area -->
            <div class="single-widget-area search-widget">
              <form action="#" method="post">
                <input type="search" name="search" class="form-control" placeholder="Search ...">
                <button type="submit"><i class="icon_search"></i></button>
              </form>
            </div>

            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Categories</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                 <li><a target='_blank' href="https://www.dentistry.com/articles/">Dentistry Articles</a></li>
                <li><a target='_blank' href="https://www.cdc.gov/oralhealth/basics/index.html">Oral Health</a></li>
                <li><a target='_blank' href="https://dentaltech.com/">Dental Technology</a></li>
                <li><a target='_blank' href="https://www.cdc.gov/oralhealth/publications/features/childrens-dental-health.html">Kids Care Dental</a></li>
                <li><a target='_blank' href="https://www.healthysmilesdentists.com/">Healthy Smiles, Inside &amp; Out</a></li>
              </ul>
            </div>

            <!-- Single Widget Area -->
            <div class="single-widget-area news-widget">
              <h5 class="widget-title">Recent News</h5>

              <!-- Single News Area -->
              <div class="single-news-area d-flex align-items-center">
                <div class="blog-thumbnail">
                  <img src="{% static 'website/img/bg-img/21.jpg' %}" alt="">
                </div>
                <div class="blog-content">
                  <a target='-blank' href="https://www.chartercollege.edu/news-hub/3-reasons-good-dental-hygiene-so-important" class="post-title">Tooth decay: why good dental hygiene is important</a>
                  <span class="post-date">3 March 2021</span>
                </div>
              </div>

              

              <!-- Single News Area -->
              <div class="single-news-area d-flex align-items-center">
                <div class="blog-thumbnail">
                  <img src="{% static 'website/img/bg-img/23.jpg' %}" alt="">
                </div>
                <div class="blog-content">
                  <a target='_blank' href="https://en.wikipedia.org/wiki/Sinusitis" class="post-title">Everything you need to know about sinus infection</a>
                  <span class="post-date">28 April 2021</span>
                </div>
              </div>
            </div>

            

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- *****Blog Area End ***** -->
{% endblock %}